/* Basislayout */

@font-face {
    font-family: KaushanScript;
    src: url("./fonts/KaushanScript-Regular.otf");
}

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(158, 203, 255);
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}

html {
    font-family: 'Annie Use Your Telescope'
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(0, 0, 0);
    text-align: center;
}


footer {
    clear: both;
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(44, 0, 240);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.tekstblokje {
    float:middle;
    overflow:hidden;
    border:2px solid rgb(0,40,45);
    padding-left:10px;
    margin-top:10px;
    margin-right:20px;
    box-shadow:4px 4px 5px rgb(150,150,150);
    border-radius:5px;
}

/* navigatiebalk */
.middel {
    float: mid;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color:rgb(113, 181, 245);
}

nav li a.active {
    background-color: rgb(31, 118, 248);
}

/* plaatjes stijlen */
img {
    border-radius:10px;
}
img.plaatjeboek {
    float: right;
    margin-right:10px;
    margin-left:10px;
    margin-bottom:10px;
    margin-top:50px;
}

img.plaatje {
    float: right;
    margin-right:10px;
    margin-left:10px;
    margin-bottom:10px;
    margin-top:10px;
}

.theo {
    float: right;
    margin-top:10px;
    margin-bottom:20px;
    margin-left:10px;
}

.plaatje-onderkant {
    float: right;
    margin-bottom:30px;
    margin-left:15px;
}
/* tekst stijlen */
h1 {
  text-shadow: 2px 2px 5px blue;
}

h2 {
  color: rgb(20, 0, 200);
  text-shadow: 2px 2px 4px #0c85bd;
}

hr {
    color: rgb(0, 0, 0);
}

/* kopjes stijlen */
.kopje {
    color: rgb(20, 0, 200);
}

.kopje1 {
    color: rgb(0, 130, 20);
}

.kopje2 {
    color: rgb(250, 10, 10);
}

.kopje3 {
    color: rgb(0, 130, 20);
}

.kopje4 {
    color: rgb(20, 0, 200);
}

.kopje5 {
    color: rgb(200, 0, 0);
}